#d1 {
    background-image: url('/images/honeypot.gif');
    color:white;
    text-align:center;
    text-shadow: 4px 4px 5px #FD0D0C; 
    padding:5px;
    font-family: 'Hot Pizza','times new roman';
}
#d2 {
    line-height:30px;
    background-color:#eeeeee;
    height:900px;
    width:250px;
    float:left;
    padding:5px;
    font-family: 'Hot Pizza','times new roman';	      
}
#d3 {
    width:50%;
    float:left;
    padding:10px;	 	
    font-family: 'Hot Pizza','times new roman';
    
}
    #slides_control > div{
  height: 280px;
}
img{
  margin:auto;
  width: 400px;
}

ul.img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}   

ul.img img {
    display: inline;
    margin: 5px;
}

ul.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}

#failmsg {
  color: #FF3333;
}

#successmsg{
  color: #006600;
}